<ion-side-menus>

  <ion-side-menu-content edge-drag-threshold="80">

    <ion-nav-bar align-title="center" ng-hide="vm.search">

      <ion-nav-back-button></ion-nav-back-button>

    </ion-nav-bar>

    <button class="button button-icon icon ion-help-circled button-float zoomIn animated" ng-click="vm.goToState('about')" direction="up"></button>


    <ion-nav-view></ion-nav-view>

  </ion-side-menu-content>

  <ion-side-menu side="left">

    <ion-content>

      <div class="list">

        <div class="profile">
          <div class="row">
            <div class="col col-33">
              <div class="profile-img" ng-style="{'background-image': 'url(' + (vm.profileImage || 'img/user_noprofile.jpg') + ')'}"></div>
            </div>
            <p menu-close class="col col-67 text-center profile-name" ng-click="vm.goToState('cities')">
              <span href="#/profile">{{vm.userName}}</span>
            </p>
          </div>
        </div>

        <div menu-close class="item item-icon-left text-uppercase" ng-click="vm.goToState('profile')">
          <i class="icon ion-person"></i> My Profile
        </div>

      </div>

    </ion-content>

  </ion-side-menu>


  <ion-side-menu side="right">

    <ion-content>

      <div class="list">

        <div menu-close class="item item-icon-left text-uppercase" ng-click="vm.goToState('about')">
          <i class="icon ion-person"></i> About Us
        </div>

        <div menu-close class="item item-icon-left text-uppercase" ng-click="vm.logout()">
          <i class="icon ion-power"></i> Logout
        </div>

      </div>

    </ion-content>


  </ion-side-menu>


</ion-side-menus>
